:root {
  --box-shadow-opacity: 0.6;
}

.homePageStyle {
  margin: 0;
  display: flex;
  flex-direction: column; /* Center content vertically */
  justify-content: flex-start; /* Center content both vertically and horizontally */
  align-items: center;
  min-width: 100vw;
  min-height: 200vh; /* Needs to CHANGE */
  overflow-x: hidden;
  background-size: 100% auto;
  background-position: top;
  background-image: url("../assets/background.svg");
  gap: 4rem;
}

.seatsImage {
  transition: opacity 0 ease;
}

.screenContentWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.searchBarWrapper {
  position: absolute;
  left: 37.5vw; /* (100vw - 25vw) / 2 */
  margin-top: 15vw;
  width: 25vw;
  z-index: 9999;
}

.btn {
  padding: 1em;
  position: absolute;
  margin-top: 18vw;
  z-index: 999;
}

.btn button {
  background-color: #3d3d3d;
  border-radius: 12px; /* Rounded corners */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
}

.screen img {
  margin-top: 0.5vw;
  width: 59vw;
  height: auto;
}

.screen {
  background-color: rgba(255, 247, 238, 0.9);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column; /* Center content vertically */
  justify-content: flex-start; /* Center content both vertically and horizontally */
  align-items: center;
}

@media (max-width: 767px) {
  .screen img {
    width: 70vw;
  }
}

.searchContainer {
  position: absolute;
  display: flex;
  flex-direction: row; /* Center content vertically */
  justify-content: center; /* Center content both vertically and horizontally */
  width: 90vw;
  height: 50rem;
  top: 70%;
  gap: 2rem;
  color: #ffffff;
}

.arrow {
  color: rgba(255, 247, 238, 0.4);
  position: absolute;
  top: 93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extendedSearchBar {
  display: flex;
  flex-direction: row; /* Center content vertically */
  width: 70vw;
  background-color: rgba(255, 247, 238, 0.9);
  border-radius: 0.5rem;
  padding: 2rem;
}
